/**
 * Dashboard styles
 */

.dashboard {
	width: 80%;
	height: 80%;
	box-shadow: 0px 0px 40px rgb(218, 218, 218);
	border-radius: 20px;

	&__nav {
		@include flex-row(space-between, center);
		width: 100%;
		height: 46px;
		padding: 0 20px;
		background: rgb(245, 245, 245);
		.head {
			.date {
				cursor: pointer;
				border-radius: 5px;
				border: none;
				padding: 1px 5px;
				text-align: center;
				background: $color-theme1;
				color: white;
			}
		}
		.icon {
			width: 40px;
		}
		.search {
			@include flex-row(center, center);
			height: 30px;
			flex: 1;
			margin-left: 20px;
			path {
				color: white;
			}
		}
		.input {
			flex: 1;
			border-radius: 5px 0 0 5px;
			border: none;
			height: 100%;
			padding: 0 10px;
		}
		.button {
			padding: 0 10px;
			height: 100%;
			border-radius: 0 5px 5px 0;
		}
	}

	&__actions {
		@include flex-row(initial, center);
		.avatar {
			margin-right: 10px;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			background: rgb(200, 200, 200);
		}
		.item {
			@include flex-row(initial, center);
			margin-left: 15px;
			padding: 3px 5px;
			border-radius: 5px;
			cursor: pointer;
			&:hover {
				background: white;
			}
		}
	}

	&__body {
		display: grid;
		grid-row-gap: 20px;
		grid-column-gap: 20px;
		grid-template-columns: repeat(2, 1fr);
		padding: 20px;
	}
}
