/**
 * Dashboard item styles
 */

.dashboard-item {
	@include flex-row(space-between, center);
	background: #ffb224;
	color: white;
	padding: 10px 20px;
	border-radius: 10px;
	cursor: pointer;

	&__head {
		@include flex-row(initial, center);
		pointer-events: none;
		.tick {
			@include flex-row(center, center);
			width: 20px;
			height: 20px;
			border-radius: 3px;
			background: white;
			margin-right: 10px;
		}
	}

	.value {
		pointer-events: none;
		font-weight: bold;
	}

	&--done {
		background: $color-success;
	}
}
