/**
 * Stores style variables
 */

$fs-text1: 15pt;
$color-danger: #fd5b5b;
$color-success: #5ebe5e;
$color-theme1: rgb(26, 115, 232);
$color-title1: #272727;
$color-text1: #3a3a3a;
$color-text2: #b4b4b4;
$color-bg1: white;
$line-height: 1.6;
$fs-h1: 3.2em;
$fs-h2: 2.7em;
$fs-h3: 2.2em;
$fs-h4: 2em;
$fs-h5: 1.8em;
